@import '../../_vars.scss';
.core {
  position: relative;
  width: $search-width;
  height: $search-height;
  box-sizing: border-box;
  padding: $search-padding;
  border: $search-border;
  border-radius: $search-border-radius; // padding: 4px 6px;
  >input {
    width: 100%;
    height: 100%;
    border: none;
    padding: $search-input-padding; // border-bottom: 1px solid #9e9e9e;
    // padding: 4px 0;
    &:focus {
      outline: none;
    }
  }
  &Remove {
    position: absolute;
    min-width: 14px;
    height: 14px;
    opacity: 0;
    top: 50%;
    right: $search-remove-right;
    transform: translateY(-50%);
    transition: opacity 400ms;
    background: url('../../icons/close.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
  &:hover .coreRemove {
    opacity: .5;
    transition: opacity 400ms;
  }
}