/* global vars */
$font-size: 14px !default;
$font-color: #6e6e6e !default;

$border-size: 1px !default;
$border-color: #9e9e9e !default;
$border-style: solid !default;
$border: $border-size $border-style $border-color !default;

$bg-color: #fff !default;

/* panel */
$panel-width: 320px;
$panel-height-min: 300px;
$panel-height-max: 500px;
$panel-margin: 0;
$panel-padding: 0;

/* header */
$header-padding: 6px 12px;

/* header -> info */
$info-margin: 0;
$info-margin-right: 6px;
$info-font-size: 20px;
$info-line-height: 30px;
$info-font-color:#4d4d4d;

/* header -> search */
$search-width: 120px;
$search-height: 24px;
$search-padding: 2px 6px;
$search-border: $border;
$search-border-radius: 8px;
$search-input-padding: 0;
$search-remove-right: 6px;

/* header -> concat */
$concat-margin-top: 10px;
$concat-margin-right: 4px;

/* scroll */
$scroll-width: 12px;
$scroll-bg-color: rgba(0, 0, 0, .1);
$scroll-handle-height: 30px;
$scroll-handle-bg-color: rgb(44, 44, 44);

/* post list */
$list-height-max: 300px;
$list-margin-bottom: 2px;
/* post item */
$item-height: 20px;
$item-padding: 6px 12px;
$item-bg-hover: rgba(0, 0, 0, .1);

$item-prefix-width: 6px;
$item-prefix-bg-color: rgb(206, 75, 52);

/* post item -> icon */
$icon-width-min: 20px;
$icon-margin-right: 4px;

/* post item -> link */
$link-font-size: 13px !default;
$link-margin-right: 4px;
$link-font-color-hover: #4d4d4d;
$link-font-color-active: #9e9e9e;

/* clear */
$clear-bg-color: rgb(206, 75, 52);
$clear-font-color: #fff;
$clear-padding: 6px;