@import '../../_vars.scss';
.core {
  border: none;
  background: $clear-bg-color;
  color: $clear-font-color;
  padding: $clear-padding;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: .8;
    transition: opacity 300ms;
  }
}